<div>
    <div>
        <h2 class="site-text">Top Rated Movies</h2>
        <table class="table table-striped align-middle">
            <tbody>
                <tr>
                    <td><img src="https://upload.wikimedia.org/wikipedia/en/8/81/ShawshankRedemptionMoviePoster.jpg" class="posters"></td>
                    <td class="site-text"><span class="rank">1.</span> The Shawshank Redemption</td>
                </tr>
                <tr>
                    <td><img src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" class="posters"></td>
                    <td class="site-text"><span class="rank">2.</span> The Godfather</td>
                </tr>
                <tr>
                    <td><img src="https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_.jpg" class="posters"></td>
                    <td class="site-text"><span class="rank">3.</span> The Dark Knight</td>
                </tr>
                <tr>
                    <td><img src="https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" class="posters"></td>
                    <td class="site-text"><span class="rank">4.</span> The Godfather Part II</td>
                </tr>
                <tr>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/12_Angry_Men_%281957_film_poster%29.jpg" class="posters"></td>
                    <td class="site-text"><span class="rank">5.</span> 12 Angry Men</td>
                </tr>
                <tr>
                    <td><img src="https://m.media-amazon.com/images/M/MV5BNDE4OTMxMTctNmRhYy00NWE2LTg3YzItYTk3M2UwOTU5Njg4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_.jpg" class="posters"></td>
                    <td class="site-text"><span class="rank">6.</span> Schindler's List</td>
                </tr>
                <tr>
                    <td><img src="https://m.media-amazon.com/images/I/71X6YzwV0gL.jpg" class="posters"></td>
                    <td class="site-text"><span class="rank">7.</span> The Lord of the Rings: The Return of the King</td>
                </tr>
                <tr>
                    <td><img src="https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" class="posters"></td>
                    <td class="site-text"><span class="rank">8.</span> Pulp Fiction</td>
                </tr>
                <tr>
                    <td><img src="https://m.media-amazon.com/images/M/MV5BN2EyZjM3NzUtNWUzMi00MTgxLWI0NTctMzY4M2VlOTdjZWRiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_.jpg" class="posters"></td>
                    <td class="site-text"><span class="rank">9.</span> The Lord of the Rings: The Fellowship of the Ring</td>
                </tr>
                <tr>
                    <td><img src="https://m.media-amazon.com/images/M/MV5BNjJlYmNkZGItM2NhYy00MjlmLTk5NmQtNjg1NmM2ODU4OTMwXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg" class="posters"></td>
                    <td class="site-text"><span class="rank">10.</span> The Good, the Bad and the Ugly</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>