

<div class="container text-center">
  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{username}}!</h2>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Regular link</a></li>
        <li><a class="dropdown-item active" href="#" aria-current="true">Active link</a></li>
        <li><a class="dropdown-item" href="#">Another link</a></li>
      </ul>
    </div>
        <div>
      {{#if movies.length}}
      <div class="col-md-6 movie-list">
          <h3>Movies: </h3>
      {{#each movies as |movie|}} {{! "movies" is the array which is being looped through for each movie}}
      <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/movies/{{movie.id}}">{{movie.name}}</a></h4>
          </div>
      </div>
      {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{!Add an event handler that when you click on the link then it will do a different req to the backend to poulate the "movies" array above which will stay the same and display in lines 15-20}}