.nav-link {
    color: white;
}
.nav-item {
    padding-right: 50px;
}

.navbar-toggler {
    background-color: rgb(177, 177, 177);;
}

#navbar-toggle {
    margin-right: 20px;
}

.hide {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-text {
    color:rgb(177, 177, 177);
}

.posters {
    max-width: 40px;
}

.rank {
    font-weight: bold;
}

.give-me-space {
    margin: 7px;
}

.no-pad {
  padding: 0;
}

.movie-rating {
  color: rgb(204, 174, 7);
}

#logo-1{
    max-width: 400px;
    max-height: 400px;
}
input::placeholder{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body{
    background-color: black;
}
.login-headers{
    color: white;
    padding-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
}
#login-container{
    margin: auto;
}
#login-email{
    color: white;
    padding-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#login-password{
    color: white;
    padding-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#login-btn{
    margin-top: 5%;
}
.new-to-movie-guide-text{
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#signup-container{
    margin: auto;
}
.signup-headers{
    color: white;
    padding-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
}
#sign-up-name{
    color: white;
    padding-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sign-up-email{
    color: white;
    padding-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sign-up-password{
    color: white;
    padding-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sign-up-username{
    color: white;
    padding-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#signup-btn{
    margin-top: 5%;
}

